*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;

}

header{
    text-align: center;
    padding: 30px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    color: #e53170;
    margin-bottom: 45px;
}

.card > .box{
   background-color: black;
    width: calc(100% / 3 - 40px);
    float: left;
    margin: 20px;
}

.foto{
    width: 100px;
    float: left;
    background-color: red;
}

.info{
    width: calc(100% - 100px);
    float: left;
    padding-left: 12px;
}

.contenuto{
    float: left;
}

.foto img{width: 100%;
display: block;}

.nome, .lavoro{
    color: white;
    padding-top: 10px;

}

.email{
    text-decoration: none;
    color: #4dccf2;
}
